$primary: #b71f3b;
$secondary: #2240a4;
$success: #21af52;
$white: #ffffff;
$black: #000000;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "white": $white,
  "black": $black,
);
